<!DOCTYPE html>
<html class="no-js" ng-app="myApp">
    <head>
        <meta charset="utf-8" />
        <title>Soul Roll 64</title>
        <meta name="description" content="" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
        
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/touch/apple-touch-icon-144x144-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/touch/apple-touch-icon-114x114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/touch/apple-touch-icon-72x72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" href="images/touch/apple-touch-icon-57x57-precomposed.png" />
        <link rel="shortcut icon" href="images/touch/apple-touch-icon.png" />

        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300,400' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300' rel='stylesheet' type='text/css' />
        

        <link rel="stylesheet" href="css/normalize.css" />
        
        <link rel="stylesheet/less" href="css/main.css" />
        <script src="js/less-1.3.3.min.js"></script>
        
    	<script data-require="angular.js@1.1.5" data-semver="1.1.5" src="http://code.angularjs.org/1.1.5/angular.min.js"> </script>
    	<script type="text/javascript" src="erben-modules/menu-items-module.js"></script>   
</head>
    <body class="my-body">
        <div id="gallery-page" class="page orange-page" data-theme="a" data-role="page">
            <div id="header" data-role="header">
                <div class="margpage">
                    <a href="index.html" data-role="none" data-transition="flip" class="left"><img src="images/rsz_back.png"/></a>
                    <a href="index.html" data-role="none" data-transition="flip" class="right"><img src="images/rsz_1home.png"/></a>
                    <h1>Soul Roll 64'</h1>
                </div>
            </div>
            
            <div class="ui-body margpage" ng-controller="MainCtrl" data-ng-init="init()">
            	
				<div class="social left">
                	<input type="button" id="my_order_button" ng-click="confirm_order();" class="button2" value="My Order" />
                </div> 
                <div class="slogan right">
                	<input type="button" id="place_button" ng-click="place_order_func();" class="button2" value="Place your order"  />
                </div>
                
                <style>
	                input.txt {
						background: white;
						border: 1px solid #DDD;
						border-radius: 5px;
						box-shadow: 0 0 5px #DDD inset;
						color: #666;
						padding: 5px 10px;
						width: 96%;
						outline: none;
					}
				</style>
                <br/><br/>
				<div id="resMsgError" class="error-message"> </div>
                <div id="resMsg" class="success-message"> </div>
                <div class="gallery">
                	<h4 id="table_no">Selected Table No : {{tableNo}}</h4>
                	By name : <input type="text" class="txt" data-ng-model="name" />
                	<br/><br/>
                	By food type : <input type="text" class="txt" data-ng-model="mtype" />
             		<br/><br/>
             		
                	<div id="loading">
                		<div class="circle"></div>
						<div class="circle1"></div>
					</div>
					
                     	<ul id="menu_items" >
                     		<li ng-repeat="(key, value) in items | filter:filterByName | filter:filterByType">
	                    		<a onclick="setHref({{value.item_id}});"  class="album-photo"  style="height:200px !important;">
	                    			<span class="counter"></span>
	                    			<img ng-src="{{value.item_image_path}}" style="height:100% !important;" />
	                    		</a>
	                    		<a class="album-detail group">
	                    			<span class="left"> {{value.item_name}} </span>
	                    			<span class="right"> ${{value.price}} </span>
	                    		
	                    		<span class="right" ng-show="ordered != 'false'">
	                    			<input type="checkbox" ng-click="change_the_cart({{value.item_id}});" class="squaredOne" id="chkbut{{value.item_id}}" />
	                    			<lable id="chklbl{{value.item_id}}" class="lbl">
	                    				<b>Check</b>
	                    			</lable>
	                    				<select class="noOfItems" ng-change="update_cart({{value.item_id}});" ng-model="myOption" id="noItems{{value.item_id}}" >
	                    					<option value="1">1</option>
	                    					<option value="2">2</option>
	                    					<option value="3">3</option>
	                    					<option value="4">4</option>
	                    					<option value="5">5</option>
	                    					<option value="6">6</option>
	                    					<option value="7">7</option>
	                    					<option value="8">8</option>
	                    					<option value="9">9</option>
	                    					<option value="10">10</option>
	                    					</select>&nbsp;&nbsp;&nbsp;
	                    			</span>
	                    		</a>
								
                    		</li>
                    		
                     	</ul>
                     	
                    </div>
                    
  
                </div>
            
                    <div class="social left ">
                        Designed @ ErbenLabs
                    </div> 
                    <div class="slogan right">
                    	
                    </div>
                       
        
        </div>
    </body>
</html>
